html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(87, 176, 228),
    rgb(42, 110, 199)
  );
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.logooo {
  margin: 2px;
}

.logooo img {
  position: relative;
  width: 64px;
  height: 53px;
}

header {
  background-color: rgb(194, 215, 228);
  width: 100%;
  height: 56px;
}

a > img {
  bottom: 50px;
  left: 100px;
}

.uiux-design {
  display: block;
  margin: 0 auto;
}

.link {
  direction: calc(50%);
}

.texto {
  color: black;
  margin: 1px;
  font-size: 66px;
  position: relative;
  left: 66px;
  top: 68px;
}

.menu {
  width: 50%;
  text-align: right;
  align-self: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.menu a {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s all ease;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}
menu:hover {
  color: #cdcdcd;
  transition: 0.4s all ease;
}
menu::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
menu:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.foto1 {
  left: 50px;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: 50%;
}

.botao {
  border: 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 194px;
  left: 266px;
}

.Contatos {
  position: relative;
  left: 39%;
  font-size: 30px;
  margin: 25px;
  top: 1038px;
}

.Contatos > h3 {
  position: relative;
  left: 55px;
}

.Nome {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.palavra {
  position: relative;
  width: 453px;
  height: 4px;
  top: -110px;
  left: 83px;
  font-size: 23px;
  font-family: Snell Roundhand, cursive;
}
.video {
  width: 80%;
  height: 500px;
  top: 100px;
  left: 50px;
}
