body {
    background-image: url(Imagens/PaisagemUrbana.png);
    background-size: 100%;
    background-repeat: space;
    position: relative;
}

#Login {
    /* position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -240px;
    width: 481px;
    height: 421px;

    left: 480px;
    top: 336px;
    margin-left: 26%;
    margin-top: 26%;

    text-align: center; */
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    margin-left: -10%;
    width: 275px;
    height: 250px;
    text-align: center;
    background-image: url(/Imagens/fundoDoLogin.png);
    font-size: 20px;
    background-size: 100%;
    background-repeat: space;
}

#UpBar {
    position: absolute;
    width: 100%;
    height: 54px;
    margin-top: -7px;
    background-color: white;
    text-align: left;
    border-bottom: 2px solid black;
}

#UpBar p {
    position: inherit;
    top: -10%;
    left: 59px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#UpBar img {
    height: 52px;
    margin-top: -15px;
    margin-left: -35px;
}