body {
    background-color: #1e1e1e;
}

header {
    background-color: #0d0d0d;
    border-bottom: 1px white solid;
}

header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: gray;
}

.BarraLateral {
    background-color: #0d0d0d;
    border-right: 1px white solid !important;
}

.Quadrante1 {
    border-bottom: 1px white solid;
    color: white;
}

.Quadrante2 button {
    background-color: #00919B;
    color: white;
}

.Eventos>a {
    color: white;
}

.Historico {
    border-bottom: 1px white solid;
}

.Historico>a {
    color: white;
}

/* Pagina */

.Conteudo {
    color: white;
}

.Conteudo p {
    border-bottom: 1px white solid;
}

button.expansivo {
    background-image: url(Imagens/SeteBaixoPreto.png);
}

button.expansivo[aria-expanded="false"]:hover {
    background-image: url(Imagens/SeteBaixoPretoHover.png);
}

button.expansivo[aria-expanded="true"] {
    background-image: url(Imagens/SeteCimaPreto.png);
}

button.expansivo[aria-expanded="true"]:hover {
    background-image: url(Imagens/SeteCimaPretoHover.png);
}

.nomeEventos,
.tabela,
.nomeAulas {
    border: 1px white solid;
}

.nomeEventos a,
.nomeAulas a {
    border: 1px solid white;
    color: white;
}

.Perguntas {
    background-color: #1f1f1f;
    border: 1px white solid;
}

.Pergunta input {
    border: 1px white solid;
}

.res {
    background-color: #1d1d1d;
}

.BtnCriar button {
    background-color: #00919B;
    color: white;
}

.LateralTopo a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.LateralTopo a:hover {
    color: gray;
}

.barras3 {
    background-image: url(Imagens/3BarrinhasB.png);
}