.Conteudo {
    height: 100%;
    width: 74%;
    top: 49px;
    left: 224px;
    position: relative;
    margin: 4px;
}

.Conteudo h1 {
    font-weight: bold;
}

.Botaocollapshistorico p {
    font-size: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.HistoricoMenu button {
    border: 1px solid black;
}

.HistoricoMenu {
    border-bottom: 1px solid black;
    margin-bottom: 10px;

}

.HistoricoMenu a,
.HistoricoMenu p {
    color: black;
    margin-right: 10px;
    font-size: 110%;
}

/* Tipos de Tela */
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .Conteudo {
        font-size: 30px;
    }

    .Botaocollapshistorico button {
        bottom: 51px;
        left: 94px;
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width: 1500px) {
    .mostrarMais {
        width: 200px;
        height: 60px;
        font-size: 25px;
    }
}