.Conteudo {
    height: 100%;
    width: 74%;
    top: 49px;
    left: 224px;
    position: relative;
    margin: 4px;
}

.Conteudo h1,
p {
    font-weight: bold;
}

.Conteudo p {
    border-bottom: 1px black solid;
}

.Conteudo button {
    position: relative;
    bottom: 42px;
    left: 55px;
    width: 20px;
    height: 20px;
    /* border: 1px black solid; */
    background-image: url(../Imagens/SeteBaixoBranca.png);
    background-size: 99%;
    background-repeat: no-repeat;
}

.Conteudo button[aria-expanded="false"]:hover {
    background-image: url(../Imagens/SeteBaixoBrancaHover.png);
}

.Conteudo button[aria-expanded="true"] {
    background-image: url(../Imagens/SeteCimaBranca.png);
}

.Conteudo button[aria-expanded="true"]:hover {
    background-image: url(../Imagens/SeteCimaBrancaHover.png);
}

.tabelas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tabela {
    width: 30%;
    min-width: 300px;
    max-width: 700px;
    height: 300px;
    border: 1px black solid;
}

.tabela h5 {
    text-align: center;
    border-bottom: 1px black solid;
}

.mostrarMais {
    width: 103px;
    height: 30px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .Conteudo {
        font-size: 30px;
    }

    .Conteudo button {
        bottom: 51px;
        left: 94px;
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width: 1500px) {
    .mostrarMais {
        width: 200px;
        height: 60px;
        font-size: 25px;
    }
}