body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    height: 100%;
}

html {
    width: 99%;
    height: 99%;
    background-image: linear-gradient(rgb(78, 175, 255), white);
}

.Logo>figure>img {
    height: 60%;
    width: 50%;
}

.Logo>figure {
    margin-bottom: 1px;
}

.Logo>h3 {
    margin-top: 1px;
}

.Logo {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}


.Login {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    outline: 5px solid #000000;
    outline-offset: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    width: 75%;
}

.Login>#Entrar {
    height: 15%;
    width: 30%;
    border-radius: 10%;
    background-color: rgb(78, 175, 255);
    color: white;
}

.Login>.incorreto {
    visibility: hidden;
    position: absolute;
    color: red;
}

.rodape {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 3;
    color: black;
    align-items: flex-end;
    margin-bottom: 35px;
}

.rodape>img {
    height: 15%;
    width: 36%;
}