.Conteudo {
    height: 100%;
    width: 74%;
    top: 49px;
    left: 224px;
    position: relative;
    margin: 4px;
}

.BtnCriar {
    left: 27%;
    position: relative;
}

.BtnCriar button {
    background-color: #5ff5ff;
    border-radius: 50%;
    width: 100px;
}

.NomedoEvento,
.Descricao {
    float: inline-start;
    width: 50%;
}

.Imagem {
    float: right;
}

.Pergunta {
    width: 50%;
    min-width: 400px;

}

.Pergunta input {
    background-color: #d9d9d9;
    border: 1px black solid;
}

.Perguntas {
    width: 50%;
    min-width: 400px;
    background-color: #f0f0f0;
    border: 1px black solid;
}

.respostas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20%;

}

.res {
    height: 10px;
    width: 10px;
    background-color: #d9d9d9;
    margin: 15px;
}