/* Botão Swith */
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch-escuro+label {
    width: 70px;
    height: 30px;
    /*Cor das Bordas do botão*/
    background-color: #ffffff;
    border-radius: 60px;
}

.switch-escuro+label:before,
.switch-escuro+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}

.switch-escuro+label:before {
    right: 1px;
    /*Cor do fundo quando desativado*/
    background-color: #ffffff;
    border: 1px black solid;
    border-radius: 60px;
    transition: all 0.4s;
}

.switch-escuro+label:after {
    width: 30px;
    height: 28px;
    /*cor do botão*/
    /* background-color: #000000; */
    background-image: url(Imagens/LuaC.png);
    border-radius: 110%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30px;
}

.switch-escuro:checked+label:before {
    background-color: #000000;
}

.switch-escuro:checked+label:after {
    transform: translateX(38px);
    /* background-color: rgb(255, 255, 255); */
    background-image: url(Imagens/LuaE.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30px;
}