body {
    background-color: #1e1e1e;
}

header {
    background-color: #0d0d0d;
    border-bottom: 1px white solid;
}

header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: gray;
}

.BarraLateral {
    background-color: #0d0d0d;
    border-right: 1px white solid !important;
}

.Quadrante1 {
    border-bottom: 1px white solid;
    color: white;
}

.Quadrante2 button {
    background-color: #00919B;
    color: white;
}

.Eventos>a {
    color: white;
}

.Historico {
    border-bottom: 1px white solid;
}

.Historico button {
    background-color: #1f1f1f;
}

.Historico button>a {
    color: white;
}

.BtnCriar button {
    background-color: #00919B;
    color: white;
}

.LateralTopo a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.LateralTopo a:hover {
    color: gray;
}

.barras3 {
    background-image: url(Imagens/3BarrinhasB.png);
}

#barras3F {
    background-image: url(Imagens/3BarrinhasB.png);
}

/* Pagina */

.Conteudo {
    color: white;
}

/* .Conteudo p {
    border-bottom: 1px white solid;
} */

/* Historico */
.HistoricoMenu {
    border-bottom: 1px solid white;
}

.HistoricoMenu a,
.HistoricoMenu p {
    color: white;
}

/* Inicio */

.mostrarMais {
    color: white;
    border: 1px solid white;
}

.Botaocollapshistorico button {
    background-image: url(Imagens/SeteBaixoPreto.png) !important;
}

.Botaocollapshistorico button[aria-expanded="false"]:hover {
    background-image: url(Imagens/SeteBaixoPretoHover.png) !important;
}

.Botaocollapshistorico button[aria-expanded="true"] {
    background-image: url(Imagens/SeteCimaPreto.png) !important;
}

.Botaocollapshistorico button[aria-expanded="true"]:hover {
    background-image: url(Imagens/SeteCimaPretoHover.png) !important;
}

.tabela {
    border: 1px white solid !important;
}

.tabela table,
.tabela td {
    border: 1px solid white !important;
}

.tabela th {
    border: 2px solid white !important;
}

.mostrarMais {
    color: white !important;
    border: 1px solid white !important;
}

.Botaocollapshistorico {
    border: 1px white solid !important;
}

/* CriacaoEventos */
.Perguntas {
    background-color: #1f1f1f;
    border: 1px white solid;
}

.Pergunta input {
    border: 1px white solid;
}

.AreaResposta {
    background-color: #5e5e5e;
    color: white;
    border: black;
}

.Perguntas button {
    color: white;
}

.TiposdePerguntas {
    border: 1px white solid;
}

.TiposdePerguntas button {
    color: white;
    background-color: #00919B;
}

/* Evento */

.tabelaE {
    border: 1px white solid;
    color: white;

}

.tabelaE a {
    color: white;
}