body {
    background-image: linear-gradient(rgb(78, 175, 255), white);
}


.Conteudo {
    height: 100%;
    width: 74%;
    top: 49px;
    left: 224px;
    position: relative;
    margin: 4px;
}

.flex {
    display: flex;
}

.Conteudo h1,
p {
    font-weight: bold;
}

.Botaocollapshistorico p {
    font-size: 20px;
}

.column {
    display: flex;
    flex-direction: column;

    .Botaocollapshistorico button {
        position: relative;
        top: 6px;
        width: 20px;
        height: 20px;
        /* border: 1px black solid; */
        background-image: url(../Imagens/SeteBaixoBranca.png);
        background-size: 99%;
        background-repeat: no-repeat;
    }

    .Botaocollapshistorico button[aria-expanded="false"]:hover {
        background-image: url(../Imagens/SeteBaixoBrancaHover.png);
    }

    .Botaocollapshistorico button[aria-expanded="true"] {
        background-image: url(../Imagens/SeteCimaBranca.png);
    }

    .Botaocollapshistorico button[aria-expanded="true"]:hover {
        background-image: url(../Imagens/SeteCimaBrancaHover.png);
    }

    .Botaocollapshistorico {
        display: flex;
        height: 25px;
    }

    .CriadosMenu {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }

    .eventos {
        border-top: 1px solid black;
    }

    .tabelas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 7px;
    }

    .tabela {
        border: 1px solid black;
    }

    .tabela {
        width: 30%;
        min-width: 250px;
        max-width: 600px;
        height: 300px;
        overflow-y: auto;
    }

    .tabela table {
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: 297px;
    }

    .tabela table,
    .tabela td {
        border: 1px solid black;
    }

    .tabela th {
        border: 2px solid black;
    }

    .mostrarMais {
        width: 103px;
        height: 30px;
        text-decoration: none;
        color: black;
        border: 1px solid black;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-wrap: wrap; */
    justify-content: space-around;


    .Botaocollapshistorico button {
        position: relative;
        top: 6px;
        width: 20px;
        height: 20px;
        background-image: url(../Imagens/SeteBaixoBranca.png);
        background-size: 99%;
        background-repeat: no-repeat;
    }

    .Botaocollapshistorico button[aria-expanded="false"]:hover {
        background-image: url(../Imagens/SeteBaixoBrancaHover.png);
    }

    .Botaocollapshistorico button[aria-expanded="true"] {
        background-image: url(../Imagens/SeteCimaBranca.png);
    }

    .Botaocollapshistorico button[aria-expanded="true"]:hover {
        background-image: url(../Imagens/SeteCimaBrancaHover.png);
    }

    .Botaocollapshistorico {
        display: flex;
        height: 30px;
        border: 1px black solid;
    }

    .CriadosMenu {
        margin: 2px;
    }

    .eventos {
        border-top: 1px solid black;
    }

    .tabelas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 7px;
    }

    .tabela {
        width: 30%;
        min-width: 250px;
        max-width: 600px;
        height: 300px;
        border: 1px solid black;
        overflow-y: auto;
    }

    .tabela table {
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: 297px;
    }

    .tabela table,
    .tabela td {
        border: 1px solid black;
    }

    .tabela th {
        border: 2px solid black;
    }

    .mostrarMais {
        width: 103px;
        height: 30px;
        text-decoration: none;
        color: black;
        border: 1px solid black;
    }
}

/* Usado no JavaScript */
/* .column {} */

/* Tipos de Tela */
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .Conteudo {
        font-size: 30px;
    }

    .Botaocollapshistorico button {
        bottom: 51px;
        left: 94px;
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width: 1500px) {
    .mostrarMais {
        width: 200px;
        height: 60px;
        font-size: 25px;
    }
}
.inovar{
    color: rgb(0, 0, 0);
    font-size: 500%;
}
.baixo {
    font-size: 200%;
    border: 100%;
    color: black;
    margin: 3%;
}
