.Conteudo {
    height: 100%;
    width: 80%;
    top: 49px;
    left: 224px;
    position: relative;
    margin: 4px;
}

.Conteudo p {
    border-bottom: 1px solid black;
    font-size: 30px;
    text-align: center;
}

.Conteudo h1 {
    font-size: 40px;
}

.grupo {
    display: flex;
    grid-template-columns: auto;
}

.tabela {
    position: relative;
    border: 1px black solid;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    height: 100px;
    max-height: 500px;
    width: 30%;
}