.Cadastro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    outline: 5px solid #000000;
    outline-offset: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    width: 100%;
    max-width: 425px;

}

.Cadastro>.incorreto {
    visibility: hidden;
    color: red;
    margin: 0;
}

.Cadastro h6 {
    margin: 0;
}

.Cadastro button {
    border-radius: 50%;
    background-color: rgb(78, 175, 255);
    color: white;
    margin: 0;
    margin-top: 5px;
}

.Nome,
.email,
.Senha,
.CSenha {
    margin-top: 5px;
}

.Nome>input,
.email>input,
.Senha>input,
.CSenha>input {
    font-size: 80%;
}